@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
* {
    font-family: 'Source Sans Pro', sans-serif;
}

html{
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: #E0E3F0;
    color: #163D57;
}

svg {
    background-color: #163D57;
}
g{
    color: #E0E3F0;
}

#canvas {
    min-height: 600px;
    min-width: 1200px;
}
#tooltip{
    visibility: hidden;
    height: auto;
    width: auto;
}
.cell:hover{
    fill: black;
}